.menu a {
    color: black !important;
}

.menu a:hover {
    color: green !important;
}
.menu{
    background-color: black;
}



/* landing page  */
.land {
    background-image: url("../images/banner\ 1.jpg");
    background-size: cover; 
    height: 50vh;  
}

.land1 {
    background-image: url("../images/garlic.jpg");
    background-size: cover;
    height: 45px;
}

.land2 {
    background-image: url("../images/carrotss.jpg");
    background-size: cover;
}
.land3, .land4{
    background-color: #c4c4c4;
} 

/* About  */
.abt {
    background-image: url("../images/mkono.jpg");
    background-size: cover;
   
}
.abt2{ background-image: url("../images/mkono2.jpg");
    background-size: cover;
    

}
.text-dark{
    color: black;
}



.bod {
    background-image: url("../images/IMG-CropFieldSunrise-AngledShot-2.jfif");
    background-size: cover;
}

.m4 {
   background-image: url("../images/IMG-CropFieldSunrise-AngledShot-2.jfif");
    background-size: cover;

}
.navbar { margin : 0 !important; }

.bg-ora {
    background: #c4c4c4;
    background-image: url("../images/basket.jpg");
    background-size: cover;
}
.bg-kale{
  height: 50vh;
}
.bg-woman{
  height:
}
.bg-ora p{
  position: absolute;
  top: 45%;
  left: 33%;
  transform: translate(-50%, -50%);
  margin-top: 20px;}


.bg-ora p a{color: #ffffff;}
  

.bg-hom{
    background-color: #FF9D69;
}

.bg-hom1{
    background-color: #FF9D69;
}

.bg-oba{
    background-color: #c4c4c4;

}
.bg-orb{
    background-image: url("../images/cucumber.jpeg");
    background-size: cover;

}


.bg-mar {
    background:#851437;    
}
.bg-mac{
    background-color: #c4c4c4;
}
.bg-successful{
    background-color: #E75F17;
}
.bg-successfuler{
    background-color: #347631;
}
.bg-foo {
    background: black;
    height: 100px;
}


.card-title{ background-color: #347631;
    height: 100px;
}

.btn-primary{
    background-color:  #347631;
}
.footer{background-image: url("../images/banner 2.jpg");
opacity: 10px;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;}
.footer{background-color:black ;
        width: 100%;
        height:1200px auto;
        padding: 100px;
        
}

.footer h1{color: white;
          font-size: 30px;
          padding: 50px;
}
.footer p{color: white;width: 120px;padding-left: 50px;
}
.footer p1{color: white;width: 120px;
}
.footer li{
    list-style: none;
    color: green;
}
.footer a{
    color: white;
}
.input-group{
    background-color: green;
    height: 
    width:30%;
}

.row img{height: 60px;
width: 16%;
margin: 0PX 3%}

/* Demo content  */
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

/********************* shopping Demo-1 **********************/
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}


/* Additional css */
/* */
#text-align {
 
}


#register {
  background-color:  #e5d429;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
}

#register:hover {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#shop {
  background-color: #2b580c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
}

#shop:hover {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#button {
    display: block;
    max-width: 300px;
    margin: auto;
}

#affordable {
  height: 50px;
  width: 16%;
  margin: 0PX 3%
}


#ex4 .p1[data-count]:after{
  position:absolute;
  right:10%;
  top:8%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  //font-weight:bold;
}

.ex4 i:hover {
    color: green !important;
}


.bg-woman {
    background: #c4c4c4;
    background-image: url("../images/woman.jpg");
    background-size: cover;
}

.bg-kale {
    background: #c4c4c4;
    background-image: url("../images/kale.jpg");
    background-size: cover;
}


.bg-man {
    background: #c4c4c4;
    background-image: url("../images/DSC_8666-ENTREPRENEUR-1200x630.jpg");
    background-size: cover;
}

